/*-----------------------------
            HEADER
------------------------------*/

.header{
    width: 100%;
}

.container-header{
    max-width: 70%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 2561px){
    /*MENU HAMBURGUER*/
    .nav-header{
        display: block;
        width: 100%;
    }
    
    .nav-header ul li{
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: 2px dashed black;
        padding: 20px 0;
    }
    
    .nav-header ul li:first-child{
        border-top: 2px dashed black;
        margin-top: 15px;
    }
    
    .nav-header ul li a{
        font-family: 'Share Tech', sans-serif;
        color: black;
        text-transform: uppercase;
        letter-spacing: 5px;  
        font-size: 1.5em;
    }
    
    .nav-header ul li a:hover{
        color: #0B1980;
        font-size: 1.55em;
    }
}

.header__btnMenu{
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: black;
}

.header__btnMenu:hover,label:hover{
    cursor: pointer;
}

.label-menu{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.js .nav-header{
    transition: max-height .9s linear;
}

@media screen and (min-width: 2561px){
    .header__btnMenu{
        display: none;
    }
}

.logo{
    display: inline;
    font-size: 3em;
}

.logo i{
    font-size: .8em;
}

/*-----------------------------
            HOME
------------------------------*/

.profile{
    width: 100%;
    min-height: 400px;
    margin: 110px 0;
}

.container-profile{
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    border: 2px solid #0B1980;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    padding: 0 15px 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.card img{
    max-width: 250px;
    max-height: 350px;
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    margin: 0;
}

.card ul{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.card ul li{
    text-align: center;
}

.card ul li a{
    color: black;
    padding: 20px;

    transition: all .2s linear;
}

.card ul li a:hover{
    color: #0B1980;
}

.card ul li a i{
    font-size: 2em;
}

.bio{
    text-align: center;
    width: 50%;
    line-height: 1.7;
    font-size: 1.5em;
    align-self: center;
}

/*-----------------------------
        CONTAINER GERAL
------------------------------*/

.container{
    max-width: 70%;
    margin: auto;
}

.container h2{
    padding: 44px 0 15px;
    font-size: 3em;
    border-bottom: 2px dashed black;
}

.container h3{
    padding: 15px 0 10px;
    font-size: 2em;
    text-transform: uppercase;
    color: #0B1980;
    font-weight: bold;
}

.container span{
    color: black;
}

.container p{
    font-size: 1.3em;
    line-height: 1.7;
}

.container a{
    color: #0B1980;
    font-size: 1.3em;
}

.container a:hover{
    color: #045B00;
    font-size: 1.35em;
}

/*-----------------------------
          PORTFOLIO
------------------------------*/

.portfolio{
    width: 100%;
    min-height: 900px;
    background-color: #0B1980;
}

.container-portfolio{
    max-width: 70%;
    margin: auto;
}

.container-portfolio h2{
    text-align: center;
    padding: 44px 0 15px;
    border: none;
    color: white;
    font-size: 3em;
    letter-spacing: 4px;
    padding-bottom: 30px;
}

.portfolio-card h3{
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 2em;
    color: #045B00;
    text-align: center;
    background-color: rgb(0,0,0,.5);
}

.content-portfolio-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.content-portfolio-card img{
    box-shadow: -30px 30px 10px rgba(0,0,0,.7);
    margin-bottom: 50px;
}

.content-portfolio-card p{
    color: beige;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.3em;
    line-height: 1.7;
}

.content-portfolio-card a{
    color: beige;
    padding: 15px;
    width: 20%;
    margin-bottom: 30px;
    border: 4px solid black;
    text-align: center;
    box-shadow: 0px 7px black;
    background-color: rgba(0,0,0,.4);
    font-size: 1.3em;
}

.content-portfolio-card a:hover{
    background-color: rgba(0,0,0,.8);
    color: beige;
}

.content-portfolio-card a:active{
    box-shadow: none;
    position: relative;
    top: 1px;
}

/*-----------------------------
        ESPECIFICAS
------------------------------*/

.estudos h3{
    font-size: 1.5em;
}

.minicurso .container h3{
    color: #045B00;
    font-size: 1.5em;
}

.minicurso .container p{
    font-size: 1em;
}

.others .container h3{
    border-bottom: 2px solid #045B00;
    font-size: 1.7em;
    color: #045B00;
    padding: 25px 0 5px;
}

.others .container h4{
    font-size: 1.6em;
    color: #0B1980;
    font-weight: bold;
    padding: 10px 0 0;
}

.others .container ul{
    font-size: 1.3em;
    padding-top: 5px;
}

.others .container ul li{
    list-style: circle;
    list-style-position: inside;
    padding: 5px 25px;
}

.congressos span{
    font-weight: bold;
}

.others .container .palestras h4{
    font-size: 1.4em;
}

/*-----------------------------
            FOOTER
------------------------------*/

.footer{
    width: 100%;
    min-height: 460px;
    background-color: #0B1980;
    margin-top: 50px;
}

.container-footer, .sub-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70%;
    margin: auto;
    color: beige;
    padding-top: 50px;
}

.mapasite p, .redes p{
    padding: 0 0 15px 0;
    font-size: 1.5em;
}

.mapasite ul li{
    padding: 7px 0;
    list-style: inside circle;
}

.mapasite a, .redes a{
    color: beige;
    font-size: 1.3em;
}

.mapasite a:hover, .redes a:hover{
    border-bottom: 1px dashed beige;
    font-size: 1.37em;
}

.links-footer{
    display: flex;
    flex-direction: column;
}

.redes ul li{
    padding: 7px 0;
}

.sub-footer{
    font-size: 1.1em;
}

/*-----------------------------
        RESPONSIVIDADE
------------------------------*/

@media screen and (max-width: 1024px){
    .container-header, .container-profile, .container-portfolio, .container-footer, .sub-footer, .container{
        max-width: 80%;
    }
}

@media screen and (max-width: 768px){
    .profile{
        margin-bottom: 40px;
    }

    .container-profile{
        flex-direction: column;
        align-items: center;
    }

    .bio{
        width: 80%;
        padding-top: 40px;
    }

    .content-portfolio-card p{
        font-size: 1.2em;
    }

    .content-portfolio-card a{
        width: 40%;
    }
}

@media screen and (max-width: 628px){
    .redes{
        padding-top: 40px;
    }

    .sub-footer p{
        padding: 10px 0;
    }

    .bio{
        width: 100%;
    }
}

@media screen and (max-width: 425px){
   .container-profile{
       max-width: 90%;
   }

    .container h2{
        font-size: 2.5em;
    }

    .container h3{
        font-size: 1.5em;
    }

    .container p, .container a{
        font-size: 1em
    }

    .content-portfolio-card a{
        width: 70%;
    }

    .content-portfolio-card p{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 375px){
    .logo{
        font-size: 2.5em;
    }

    .header__btnMenu{
        font-size: 1.3em;
    }

    .nav-header ul li{
        font-size: .91em;
    }

    .card nav ul li{
        font-size: .8em;
    }

    .container h2{
        font-size: 2.2em;
    }

    .content-portfolio-card img{
        box-shadow: none;
    }
}

@media screen and (max-width: 320px){
    .container-profile{
        max-width: 100%;
    }
}